span.djsuperadmin {
    &[contenteditable="true"] {
        cursor: text;
        outline: 0px solid transparent;
        animation: linearGradientMove .5s infinite linear;
    }
}
// dashed border animation
@keyframes linearGradientMove {
    100% {
        background-position: 6px 0, -6px 100%, 0 -6px, 100% 6px;
    }
}
