.djsuperadmin-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #060a1ec4;
  z-index: 10000;
}
.djsuperadmin-logout {
  position: fixed;
  top: 15px;
  right: 15px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  font-size: large;
  font-family: monospace;
  padding: 10px;
  z-index: 100000000000;
}
.djsuperadmin-editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.djsuperadmin-errorbanner {
  display: flex;
  justify-content: center;
  background-color: #ff3535;
  color: #ff3535;
  overflow: hidden;
  margin: 1px;
  max-height: 0px;
  transition: all 0.5s ease-in-out;
}

.djsuperadmin-errorbanner.active {
  color: white;
  max-height: 200px;
}

.djsuperadmin-btnscontainer {
  position: relative;
}

.djsuperadmin-btn {
  position: absolute;
  background: #27347a;
  color: #f8f8f8;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 5px;
  border: 1px solid white;
  font-size: 12px;
  padding: 4px 28px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 14px;
}
.cke_editor_editor {
  border: 1px solid #031056 !important;
}
.raw-editor {
  background: #f8f8f8;
  width: 100%;
  font-size: 1rem;
  display: block;
  width: 400px;
  max-width: calc(100vw - 20px);
  border: 1px solid #031056;
  text-align-last: center;
  max-height: 400px;
}
.raw-editor:focus {
  outline: none;
}
.ql-container {
  background: white;
}
.ql-toolbar {
  background: white;
}

span.djsuperadmin {
  // dashed border back magic
  background: 
  linear-gradient(90deg, red 50%, transparent 0) repeat-x,
  linear-gradient(90deg, red 50%, transparent 0) repeat-x,
  linear-gradient(0deg, red 50%, transparent 0) repeat-y,
  linear-gradient(0deg, red 50%, transparent 0) repeat-y;
  background-size: 6px 2px, 6px 2px, 2px 6px, 2px 6px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  // end dashed border

  border-radius: 6px;
  //padding: 0.2rem .5rem;
  z-index: 1000000;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
